<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="game-engine-origin" content="http://www.isogenicengine.com">
    <meta http-equiv="X-UA-Compatible" content="IE=9" >
    <title>Iso Game</title>
    <link rel="stylesheet" href="css/app.css"/>
    <!-- STYLES -->
    <link href="css/ige.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- -->
    <script type="text/javascript">
        var username = location.search.substring(1).split('&')[0].split('=')[1];
    </script>

    <!-- Isogenic Loader -->
    <script type="text/javascript">var igeRoot = '../../ige/engine/';</script>
    <script type="text/javascript" src="../../ige/engine/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body data-ng-controller="IsoGame">

<div class="igeLoading loadingFloat">
    <div class="loadingLogo"></div>
    <div class="loadingCircle"></div>
    <div class="loadingCircleInner"></div>
    <div class="loadingText" id="loadingText">
        Loading
    </div>
    <div id="loadingProgress">
        <div id="loadingProgressBar"></div>
    </div>
</div>
<div class="igeLoading loadingLink">
    Powered By Isogenic Game Engine
    <a href="http://www.isogenicengine.com" target="_blank">http://www.isogenicengine.com</a>
</div>

<!--  Canvas -->
<div id="gameDiv">
    <canvas id="gameCanvas"></canvas>
</div>

<!-- Rain -->
<div id="rain" class="rain" style="z-index:1;position:absolute;left:0%;top:0%;width:100%;height:100%;pointer-events:none"></div>

<!--  MenuBar -->
<div id="navbar" class="navbar navbar-inverse" style="z-index:1;position:absolute;left:0%;top:0%;width:100%">
    <div class="navbar-inner">
        <a class="brand" href="#">Menu</a>
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <a class="btn" data-ng-click="fightAlertShow = !fightAlertShow">Fight Alert</a>
            <a class="btn btn-primary" data-toggle="modal" href="#inventoryDiv" data-ng-click="inventory.showThis = !inventory.showThis">Inventory</a>
            <a class="btn" data-ng-click="market.showThis = !market.showThis">Market</a>
            <a class="btn" onclick="ige.chat.sendToRoom('lobby', 'HELLO!')">Send Hello</a>
        </ul>
    </div>
</div>

<!-- HautGaucheDiv -->
<div id=playerInfoDiv style="z-index:1;position:absolute;left:1%;top:8%;" class="well well-small">
    <p>
        <img src="assets/textures/ui/tile.png" width="20" height="20"/> - {{tileAmountScope}}</br>
        <img src="assets/textures/ui/levelup.png" width="20" height="20"/> - {{playerLevelScope}}</br>
        <img src="assets/textures/ui/heart.png" width="20" height="20"/> - {{playerHealthScope}}</br>
    </p>
</div>

<!--  HautDroiteDiv -->
<div id=tileInfoDiv style="z-index: 1;position:absolute;left:90%;top:8%;" class="well well-small">
    <p>
        <img src="assets/textures/ui/owner.png" width="20" height="20"/> - {{tileOwnerScope}}</br>
        <img src="assets/textures/ui/water.png" width="20" height="20"/> - {{tileHumidityScope}} %</br>
        <img src="assets/textures/ui/plant.png" width="20" height="20"/> - {{tileFertilityScope}} %</br>
    </p>
</div>

<!-- Fight alert -->
<div id="fightAlertDiv" style="z-index:1;position:absolute;left:80%;top:80%;" class="alert alert-block alert-error fade in" data-ng-show="fightAlertShow" >
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4 class="alert-heading">Your field is under attack !</h4>
    <p>{{fightAlertText}}</p>
</div>

<!-- Attack alert -->
<div id="attackAlertDiv" style="z-index:1;position:absolute;left:40%;top:20%;width:16%;" class="alert alert-block alert-warning fade in" ng-show="attackAlertShow" >
    <h4 class="alert-heading">You are entering an enemy land !</h4>
    {{attackAlertText}}
    Attack this tile ?
    </br></br>
    <div class="btn-toolbar" style="margin: 0;">
        <div class="btn-group">
            <button id="acceptAttackBtn" class="btn btn-danger" data-ng-click="attackTile()">Sure</button>
            <button id="denyAttackBtn" class="btn btn-warning" data-ng-click="attackAlertShow = false">Nope</button>
        </div>
    </div>
</div>

<!-- Inventory Modal -->
<div id="inventoryDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-ng-show="inventory.showThis" style="z-index: 1050;">
    <div class="modal-header">
        <h3>Inventaire :</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li data-ng-repeat="friend in inventoryScope">
                [{{$index + 1}}] {{friend.name}}
            </li>
        </ul>
    </div>
</div>

<!-- Market modal -->
<div class="well" data-ng-show="market.showThis" style="z-index: 1000; width: 50%; height: 25; left: 25%; top: 25%;position:absolute;">
</div>

<!-- Chat -->
<div id=chatComponentDiv style="z-index:1;position:absolute;bottom:1%;height:20%;width:50%;left:25%;">
    <div id="chatComponentText" style="position:relative;width:100%;height: 50%;overflow: auto;opacity: 0.8" class="well well-small">
        <p data-ng-repeat="message in chatTextArrayScope">
            {{message.fromUsername}} : {{message.text}}<br/>
        </p>
    </div>
    <div class="input-append" style="position:relative;width:100%;bottom: 2%;height: 25%;">
        <form>
            <input id="chatInput" style="position:relative;width:75%;" name="chatInput" data-ng-model="chatInput" type="text">
            <button class="btn" type="submit" style="position:relative;width:25%;" data-ng-click="sendChatMessage()">Envoyer</button>
        </form>
    </div>
</div>
<script>

</script>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
-->

</body>
</html>