<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="game-engine-origin" content="http://www.isogenicengine.com">
    <meta http-equiv="X-UA-Compatible" content="IE=9" >
    <title>Iso Game</title>
    <link rel="stylesheet" href="css/app.css"/>
    <!-- STYLES -->
    <link href="../../css/default.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script type="text/javascript">var username = location.search.substring(1).split('&')[0].split('=')[1];</script>
    <!-- Isogenic Loader -->
    <script type="text/javascript">var igeRoot = '../../ige/engine/';</script>
    <script type="text/javascript" src="../../ige/engine/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body data-ng-controller="IsoGame">

<div class="igeLoading loadingFloat">
    <div class="loadingLogo"></div>
    <div class="loadingCircle"></div>
    <div class="loadingCircleInner"></div>
    <div class="loadingText" id="loadingText">
        Loading
    </div>
    <div id="loadingProgress">
        <div id="loadingProgressBar"></div>
    </div>
</div>
<div class="igeLoading loadingLink">
    Powered By Isogenic Game Engine
    <a href="http://www.isogenicengine.com" target="_blank">http://www.isogenicengine.com</a>
</div>

<!--  Canvas -->
<div id="gameDiv">
    <canvas id="gameCanvas"></canvas>
</div>

<!--  MenuBar -->
<div id="navbar" class="navbar navbar-inverse" style="z-index:1;position:absolute;left:0%;top:0%;width:100%">
    <div class="navbar-inner">
        <a class="brand" href="#">Menu</a>
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <a class="btn btn-primary" data-toggle="modal" href="#inventoryDiv" ng-click="inventory.showThis = !inventory.showThis">Inventory</a>
            <a class="btn" ng-click="market.showThis = !market.showThis">Market</a>
        </ul>
    </div>
</div>

<!-- HautGaucheDiv -->
<div id=playerInfoDiv style="z-index:1;position:absolute;left:1%;top:8%;" class="well well-small">
    <ul>
        <li><i class="icon-thumbs-up"></i> : {{tileAmountScope}}</li>
        <li>lvl : {{playerLevelScope}}</li>
        <li><i class="icon-heart"></i> x {{playerHealthScope}}</li>
    </ul>
</div>

<!--  HautDroiteDiv -->
<div id=tileInfoDiv style="z-index: 1;position:absolute;left:80%;top:8%;" class="well well-small">
    <ul>
        <li>Owner : {{tileOwnerScope}}</li>
        <li>Humidity : {{tileHumidityScope}}</li>
        <li>Fertility : {{tileFertilityScope}}</li>
    </ul>
</div>

<div id="inventoryDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="inventory.showThis" style="z-index: 1050;">
    <div class="modal-header">
        <h3>Inventaire :</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="friend in inventoryScope">
                [{{$index + 1}}] {{friend.name}}
            </li>
        </ul>
    </div>
</div>

<div class="well" ng-show="market.showThis" style="z-index: 1000; width: 50%; height: 25; left: 25%; top: 25%;position:absolute;">
    {{yourName}}!
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
-->

</body>
</html>