<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="game-engine-origin" content="http://www.isogenicengine.com">
    <meta http-equiv="X-UA-Compatible" content="IE=9" >
    <title>TremendousFarm</title>

    <!-- STYLES -->
    <link href="css/ige.css" rel="stylesheet" type="text/css"/>
    <link href="css/app.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Isogenic Loader -->
    <script type="text/javascript">var igeRoot = '../../ige/engine/';</script>
    <script type="text/javascript" src="../../ige/engine/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body data-ng-controller="IsoGame">

<div class="igeLoading loadingFloat">
    <div class="loadingLogo"></div>
    <div class="loadingCircle"></div>
    <div class="loadingCircleInner"></div>
    <div class="loadingText" id="loadingText">
        Loading
    </div>
    <div id="loadingProgress">
        <div id="loadingProgressBar"></div>
    </div>
</div>
<div class="igeLoading loadingLink">
    Powered By Isogenic Game Engine
    <a href="http://www.isogenicengine.com" target="_blank">http://www.isogenicengine.com</a>
</div>

<!--  Canvas -->
<div id="gameDiv">
    <canvas id="gameCanvas"></canvas>
</div>

<!-- Rain -->
<div id="rain" class="rain"></div>

<!--  MenuBar -->
<div id="navbar" class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" href="#">TremendousFarm</a>
        <button class="btn btn-inverse" data-ng-disabled="plantButtonDisabled">
            <img src="assets/textures/ui/seed.png"/> Plant
        </button>
        <button class="btn btn-info" data-ng-disabled="waterButtonDisabled">
            <img src="assets/textures/ui/waterdrop.png"/> Water
        </button>
        <button class="btn btn-success" data-ng-disabled="fertilizeButtonDisabled">
            <img src="assets/textures/ui/fertilize.png"/> Fertilize
        </button>
        <button class="btn" data-ng-disabled="harvestButtonDisabled">
            <img src="assets/textures/ui/harvest.png"/> Harvest
        </button>
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <a class="btn btn-primary" data-toggle="modal" href="#inventoryModalDiv">
                <img src="assets/textures/ui/chest.png"/> Inventory
            </a>
            <a class="btn btn-warning" data-toggle="modal" href="#marketModalDiv">
                <img src="assets/textures/ui/coin.png"/> Market
            </a>
        </ul>
    </div>
</div>

<!-- Player Info -->
<div id=playerInfoDiv class="well well-small">
    <p>
        <img src="assets/textures/ui/tile.png" width="20" height="20"/> x {{tileAmountScope}}</br>
        <img src="assets/textures/ui/levelup.png" width="20" height="20"/> - {{playerLevelScope}}</br>
        <img src="assets/textures/ui/heart.png" width="20" height="20"/> - {{playerHealthScope}}</br>
    </p>
</div>

<!--  Tile Info -->
<div id=tileInfoDiv  class="well well-small">
    <p>
        <img src="assets/textures/ui/owner.png" width="20" height="20"/> - {{tileOwnerScope}}</br>
        <img src="assets/textures/ui/water.png" width="20" height="20"/> - {{tileHumidityScope}} %</br>
        <img src="assets/textures/ui/plant.png" width="20" height="20"/> - {{tileFertilityScope}} %</br>
    </p>
</div>

<!-- Fight alert -->
<div id="fightAlertDiv" class="alert alert-block alert-error fade in" data-ng-show="fightAlertShow">
    <button id="fightAlertCloseBtn" class="close" data-ng-click="fightAlertShow = false">×</button>
    <h4 class="alert-heading">Your field is under attack !</h4>
    <p>
        {{fightAlertText}}
        <button id="showFightRecapBtn" class="btn btn-danger" data-toggle="modal" href="#fightRecapDiv" data-ng-click="fightAlertShow = false">
            <img src="assets/textures/ui/fight.png"/> Show recap
        </button>
    </p>
</div>

<!-- Fight Recap Modal -->
<div id="fightRecapDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fightRecap" aria-hidden="true" style="position:absolute; z-index: 1050; left:55%;width:32%">
    <div class="modal-header">
        <h3>Fight Recap</h3>
    </div>
    <div class="modal-body">
        <div class="bs-docs-grid">
            <div id="playersNameRow" class="row">
                <div class="span1">{{fightRecapText.attackerName}}</div>
                <div class="span1">{{fightRecapText.defenderName}}</div>
                <div class="span2">{{fightRecapText.winnerName}}</div>
            </div>
            <div id="playersAnimRow" class="row">
                <div class="span1"><img src="assets/textures/sprites/attackAnimChainsawRight.gif"/></div>
                <div class="span1"><img src="assets/textures/sprites/attackAnimChainsawLeft.gif"/></div>
                <div class="span2">wins the tile !</div>
            </div>
            <div id="playersHealthRow" class="row">
                <div class="span1"><img src="assets/textures/ui/heart.png"/> : {{fightRecapText.attackerHealth}}</div>
                <div class="span1"><img src="assets/textures/ui/heart.png"/> : {{fightRecapText.defenderHealth}}</div>
                <div class="span1"><img src="assets/textures/ui/tile.png"/> : {{fightRecapText.tileIndex}}</div>
            </div>
            <div id="playersWeaponRow" class="row">
                <div class="span1"><img src="assets/textures/ui/sword.png"/> : {{fightRecapText.attackerWeapon}}</div>
                <div class="span1"><img src="assets/textures/ui/sword.png"/> : {{fightRecapText.defenderWeapon}}</div>
            </div>
            <div id="playersHitCountRow" class="row">
                <div class="span1"><img src="assets/textures/ui/hit.png"/> : {{fightRecapText.attackerHitCount}}</div>
                <div class="span1"><img src="assets/textures/ui/hit.png"/> : {{fightRecapText.defenderHitCount}}</div>
            </div>
            <div id="playersMissCountRow" class="row">
                <div class="span1"><img src="assets/textures/ui/miss.png"/> : {{fightRecapText.attackerMissCount}}</div>
                <div class="span1"><img src="assets/textures/ui/miss.png"/> : {{fightRecapText.defenderMissCount}}</div>
            </div>
        </div>
    </div>
</div>

<!-- Attack alert -->
<div id="attackAlertDiv" class="alert alert-block alert-warning fade in" data-ng-show="attackAlertShow">
    <h4 class="alert-heading">You are entering an enemy land !</h4>
    {{attackAlertText}}
    Attack this tile ?
    </br></br>
    <div id="attackAlertButtons">
        <button id="acceptAttackBtn" class="btn btn-danger" data-ng-click="attackTile()">
            <img src="assets/textures/ui/sure.png"/> Sure
        </button>
        <button id="denyAttackBtn" class="btn btn-warning" data-ng-click="attackAlertShow = false">
            Nope <img src="assets/textures/ui/nope.png"/>
        </button>
    </div>
</div>

<!-- Inventory Modal -->
<div id="inventoryModalDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="inventoryModal" aria-hidden="true" style="z-index: 1050;">
    <div class="modal-header">
        <h3>Inventory</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li data-ng-repeat="item in inventoryScope">
                [{{$index + 1}}] {{item.name}}
            </li>
        </ul>
    </div>
</div>

<!-- Market modal -->
<div id="marketModalDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="marketModal" aria-hidden="true" style="z-index: 1050;">
    <div class="modal-header">
        <h3>Market Place</h3>
    </div>
    <div class="modal-body">
        <p>== Insert here Market Place ==</p>
    </div>
</div>

<!-- Chat -->
<div id=chatComponentDiv>
    <div id="chatComponentText" class="well well-small">
            <span data-ng-repeat="message in chatTextArrayScope">
                {{message.fromUsername}} : {{message.text}}<br/>
            </span>
    </div>
    <div id="chatInputDiv" class="input-append">
        <form>
            <input id="chatInput"  name="chatInput" data-ng-model="chatInput" type="text">
            <button id="chatButton" class="btn" type="submit" data-ng-click="sendChatMessage()">
                <img src="assets/textures/ui/send.png" />
            </button>
        </form>
    </div>
</div>
</body>
</html>